.form-container {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}

form {
    width: min-content;
    overflow: hidden;
    background-color: rgba(250, 215, 215, 0.508);
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    color: rgba(212, 66, 40, 0.945);
    box-shadow: 7px 13px 20px #000;
    margin-bottom: 50px;
      }


body{
    background-color: $backg;
}

@media (min-width: $bpMedium) {
    .form-container {
      display: flex;           
    }
  }
